#about_wrapper {
  height: 100vh;
  overflow-x: hidden;
}

/* content */
#about_content {
  margin-left: 300px;
  min-width: 1140px;
  min-height: 2400px;
  overflow-x: hidden;
}

.content_wrapper {
  width: calc(100% - 100px);
  min-height: 750px;
  position: relative;
  padding: 50px;
}

#introduce { background: rgb(82, 106, 192); }
#developer { background: rgb(102, 100, 171); }
#project { background: rgb(119, 203, 203); }
#project > .page_info {
  top: 10%;
}